#img-leftarrow{
    width:30px;
    height: 30px;
    position: relative;
    bottom: 50px;
}

#img-rightarrow{
    width:40px;
    height: 40px;
    position: relative;
    bottom: 50px;
}

.carousel-move{
    margin: 10px 5px 5px 130px;
}